.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
@media screen and (min-width: 1200px) {
  padding-top: 94px;
    padding-bottom: 94px;
  }

  
}
  .advantages__list {
    display: block;
     flex-direction: row;
  @media screen and (min-width: 768px) {
    display: flex;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
     display: flex;
    gap: 30px;
    align-items: flex-start;
    }
}



.advantages__subtitle {
  margin-bottom: 10px;
  margin-top: 30px;
  color: $main-color;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  
  }
.advantages__text {
  color: $main-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  display: block;
}

.advantages__item {

  &::before {
    content: "";
    display: block;
    background-color: $add-color;
    height: 120px;
   
    border-radius: 4px;
    background-image: url(../images/advantages_svg1.svg);
    background-repeat: no-repeat;
    background-position: center;
    
  }
     
}
@for $i from 1 through 4 {
  .advantages__item:nth-child(#{$i})::before {
      background-image: url(../images/advantages_svg#{$i}.svg);
  }
}

