.clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .clients__title {
   @extend %title;
  }
  
  .clients__list {
   @include flex( space-around);
    align-items: center;
    padding-top: 50px;
  }
  
  .clients__link {
   
    width: 170px;
    height: 92px;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    @include flex(  flex, center);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
     & :focus {
        border: 1px solid $accent-color;
      }
  }
  
 
  
  
  .clients__icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .clients__link:hover &,
  .clients__link:focus & {
    fill: $accent-color;
  };
  }