.header {
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: 768px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.header__container {
  display: flex;
  align-items: center;
   justify-content: space-between;
}

.nav {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  margin-left: 93px;
  display: none;
  @media screen and (min-width: 768px) {
      display: flex;
    }
}

.nav__list {
  display: none;
  gap: 50px;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.nav__link {
  color: $main-color;
  font-weight: 500;
  letter-spacing: 0.28;
  font-size: 14px;
  text-decoration: none;
  justify-content: start;
  display: block;
  position: relative;
  padding-top: 24px;
  padding-bottom: 25px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.nav__link--current::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: $accent-color;
  position: absolute;
  bottom: 0px;
  border-radius: 2px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link--current {
  color: $accent-color;
}
.nav__link--current:hover::after,
.nav__link--current:focus::after {
  opacity: 0.8;
}
.info-list {
  display: none;
margin-left: auto;
  @media screen and (min-width: 768px) {
    display: inline-block;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
     gap: 50px;
  }
}
@media screen and (max-width: 1199px) {
  .info-list__item:first-child {
    margin-bottom: 10px;
  }
}
.info-list__icon {
  display: inline-block;
  fill: $add-bg-color;
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .info-list__link:hover &,
  .info-list__link :focus & {
    fill: $accent-color;
  }
}

.info-list__link {
  color: $add-bg-color;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.menu-btn-open {
  display: inline-block;
  margin-left: auto;
  background-color: transparent;
  border: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-container {
  display: none;

  
}
