.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_webstudio/bg_hero_mob_webstudio.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
 
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image:linear-gradient(rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)), url('../images/hero_webstudio/bg_hero_mob@2x_webstudio.jpg');
    }
    @media screen and (min-width: 768px) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),url('../images/hero_webstudio/bg_hero_tab_webstudio.jpg');
          @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
              background-image: url('../images/hero_webstudio/bg_hero_tab@2x_webstudio.jpg');
            }
    }
      
    @media screen and (min-width: 1200px){
      padding-top: 200px;
      padding-bottom: 200px;
         background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4))url('../images/hero_webstudio/bg_hero_desk_webstudio.jpg');
    
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx){
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4))url('../images/hero_webstudio/bg_hero_desk@2x_webstudio.jpg');
      
}
    }
  }

.hero__title {
  margin-bottom: 30px;
  color: $white-color;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 126%;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 136%;
  }
}
