.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg_hero_webstudio.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 118px;
  padding-bottom: 118px;
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-bottom: 30px;
  color: $white-color;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
  }
}
