.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opaсity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .no-scroll {
    overflow: hidden;
  }
  .backdrop.is-hidden .modal {
    transform: translateX(-100%);
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    min-height: 581px;
    padding: 40px 40px;
    background-color: $white-color;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
    .modal__btn-close {
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50px;
      background-color: transparent;
      @include flex(flex, center);
      position: absolute;
      top: 8px;
      right: 8px;
      align-items: center;
      padding: 6px 6px 6px 6px;
  
      &:hover,
      &:focus {
        cursor: pointer;
      }
    }
  
  
  
  .modal__btn-close:hover .modal-icon,
  .modal__btn-close:focus .modal-icon {
    fill: $accent-color;
  }
  
  .modal__title {
    color: $main-color;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
  }
  
  .modal__label {
    color: #757575;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    position: relative;
    display: block;
  }
  
  .modal__label:not(:first-child) {
    margin-top: 10px;
  }
  
  .modal__input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    justify-content: center;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 42px;
    outline: none;
  }
  
  .modal__input:hover,
  .modal__input:focus,
  .modal__textarea:hover,
  .modal__textarea:focus {
    border-color: $accent-color;
  }
  
  .modal__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
  }
  
  .modal__input:hover+.modal__icon,
  .modal__input:focus+.modal__icon {
    fill: $accent-color;
  }
  
  .modal__input,
  .modal__textarea {
    margin-top: 4px;
  }
  
  .modal__textarea {
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    width: 448px;
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    padding-top: 12px;
    padding-left: 16px;
    resize: none;
  }
  
  .modal__checkbox {
   @include flex( center);
   display: inline-flex;
    gap: 5px;
    margin-top: 20px;
  }
  
  .modal__text-rules {
    padding-top: -5px;
  }
  
  .modal__link {
    color: $accent-color;
  }
  
  
  
  