.logo {
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    justify-self: left;
    text-decoration: none;
}
 .footer__logo {
     color: $white-color;
     margin-bottom: 20px;
 }

 .logo__accent {
     color: $accent-color;
     font-family: Raleway, sans-serif;
 }