@mixin flex-basis($gap, $count-items) {
    flex-basis: calc((100% - $gap * (#{$count-items} - 1)) / #{$count-items});
    }
    @mixin link($font-weight, $letter-spacing ) {
    font-weight:$font-weight ;
    letter-spacing: $letter-spacing ;
        }
    