@mixin flex-basis($gap, $count-items) {
    flex-basis: calc((100% - $gap * (#{$count-items} - 1)) / #{$count-items});
    }
    
    @mixin flex( $display, $justify-content ){
      display: flex;
      justify-content: $justify-content;
        }